//- start directories variables
//- layout root
-var layout = 'dist/';

-var cssDir = layout + 'css/';
-var jsDir = layout + 'js/';
-var imgDir = layout + 'img/';
-var fontsDir = layout + 'fonts/';
//- end directories variables

//- start fileLists & effectList
-var cssFiles = ["bootstrap.min.css","shuffleMAF.css","style.css"];

-var jsFiles = ["jquery-3.1.1.min.js","popper.min.js","bootstrap.min.js","jquery.shuffleMAF.js","script.js"];

-var effectList = ["fade","opacity"];
//- end fileLists & effectList


//- start global variables
-var websiteTitle = "jquery shuffleMAF documentation";
-var author = "Mohssine Aboutaj";

//- end global variables
